.text{
padding: 20px;
margin: 20px;
border: 1px solid black;
width: 300px;
}

.img{
  padding: 20px;
}

.box{
    border: 3px solid #ccc;
    margin-bottom: 50px;
    height: 500px;

    display: flex;
    flex-direction: column;
}